html{
    font-size: 20px;
    text-align: center;
}
h1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 

    font: sans-serif;
    font-size: 20px*2;
    letter-spacing: 1.2em;
    text-shadow: 3px 1px 1px rgb(250, 32, 32);
    border-bottom: solid 3px rgb(115,115,114);
}
body{
    font-family: "Aril","Meityo",sans-serif;
}

#basic{
font-weight: bold; 

}

.pink{
    color: rgb(255,192,203);
}
.blue{
    color: skyblue;
}